

 
 .gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  list-style: none;
  padding: 0;
}

.gallery-item {
  flex-basis: calc((100% - 10px) / 3); 
}

.gallery-item-img {
  width: 320px;
  height:auto;
   
}
 